* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}

/* Page container */
.page-container {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

footer, nav {
    width: 100%;
    min-width: 800px;
}

section {
    flex: 5;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}

/* Navigation List Flex Container and Items */

ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

li {
    padding: 15px 5px;
    flex: 1;
    align-items: stretch;
}

.pull-left {
    flex: 6;
    padding-right: 200px;
    text-align: left;
}

/* Search bar and logo */

input[type=text] {
    width: 500px;
    height: 45px;
    border-radius: 40px;
    padding: 15px;
    font-size: 1em;
    margin: 20px;
    border: 1px solid lightgray;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]:hover {
   box-shadow: 2px 2px 2px 2px whitesmoke;
}

input[type=submit] {
    background: whitesmoke;
    font-size: 1em;
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    border: 1px solid gray;
    color: black;
}

img {
    width: 270px;
}

/* Header & Navigation */

nav .pull-left {
    flex: 6;
    padding-right: 500px;
    text-align: left;
}

/* Foooter & Navigation */

footer {
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
}

footer ul {
    background-color: whitesmoke;
}

/* Link styles */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Toggle Apps Icon */

.fas {
    font-size: 2em;
}