* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgray;
}

/* Page container */
.page-container {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

footer, nav {
    width: 100%;
    min-width: 800px;
}

section {
    flex: 5;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}

/* Navigation List Flex Container and Items */

ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 0px 10px;
}

li {
    padding: 15px 8px;
    /* flex: 1; */
    align-items: stretch;
}

.pull-left {
    flex: 6;
    padding-right: 200px;
    text-align: left;
}

/* Search bar and logo */

.search-text-input {
    width: 500px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 30px;
}


input[type=text] {
    width: 400px;
    height: 40px;
    font-size: 1em;
    border: none;
    border-radius: 30px;
}

input[type=text]:focus {
    outline: none;
}

.search-text-input:hover {
   box-shadow: 1px 1px 5px 1px lightgray;
}

input[type=submit] {
    background: whitesmoke;
    font-size: 1em;
    width: 150px;
    margin: 20px 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    border: 1px solid gray;
    color: black;
}

img {
    width: 270px;
}

span img {
    width: 30px;
    position: relative;
    top: 8px;
    left: 20px;
}

/* Header & Navigation */

nav ul li a {
    color: black;
}

nav .pull-left {
    flex: 6;
    padding-right: 500px;
    text-align: left;
}

/* Foooter & Navigation */

footer {
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
}

footer ul {
    background-color: whitesmoke;
}

/* Link styles */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Toggle Apps Icon */

.fas {
    font-size: 1.5em;
}

.fa-user-circle {
    color: rgb(66,133,244);
    font-size: 2.5em;
}

.fa-th:hover {
    color: black;
}


